<template>
  <div class="container">
    <h3 class="mt-5 mb-4">Добавить бренд</h3>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Название бренда</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" name="name" v-model="brand.name" type="text" placeholder="Название бренда">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Описание бренда</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" name="desc" v-model="brand.desc" type="text" placeholder="Описание бренда">
      </div>
    </div>
    <div class="mt-4">
      <router-link to="/other" class="btn btn-secondary">Назад</router-link>
      <button class="btn btn-primary" @click="addBrand" type="button">Добавить</button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return {
      brand: {
        name: 'Бренд',
        desc: 'Описание бренда'
      },
    }
  },
  methods: {
    addBrand() {
      axios
        .post('/api/add-brand', this.brand)
        .then(response => {
          this.$router.push('/other');
        });
    }
  }
}
</script>
