<template>
  <div class="container">
    <h3 class="mt-5 mb-4">Добавить город</h3>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Название города</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" v-model="city.name" type="text" placeholder="Томск">
      </div>
    </div>
    <div class="mt-4">
      <router-link to="/other" class="btn btn-secondary">Назад</router-link>
      <button class="btn btn-primary" @click="addCity" type="button">Добавить</button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return {
      city: {
        name: 'Томск'
      },
    }
  },
  methods: {
    addCity() {
      axios
        .post('/api/add-city', this.city)
        .then(response => {
          this.$router.push('/other');
        });
    }
  }
}
</script>
