<template>
  <div class="container">
    <h3 class="mt-5 mb-4">Добавить событие</h3>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Название события</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="event.name" type="text" placeholder="Название события">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Описание события</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="event.desc" type="text" placeholder="Описание события">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Ответственный за проведение</label>
        </div>
        <div class="col-md-8">
          <select class="custom-select" v-model.number="event.workerId" v-on:input="onChange($event.target.value)">
            <option v-for="item in items" :key="item.id" :value="item.id">
              {{item.firstname}} {{item.secondname}} {{item.midname}}
            </option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-4">
          <label>Магазин</label>
        </div>
        <div class="col-md-8">
          <select class="custom-select" v-model.number="event.shopId" v-on:input="onChange($event.target.value)">
            <option v-for="shop in shops" :key="shop.id" :value="shop.id">
              {{shop.name}} ({{shop.address}})
            </option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Время проведения</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="event.date" type="text" placeholder="Дата и время">
        </div>
      </div>
      <div class="mt-4">
        <router-link to="/events" class="btn btn-secondary">Назад</router-link>
        <button class="btn btn-primary" @click="addEvent" type="button">Добавить</button>
      </div>
  </div>
</template>
<script>
import axios from 'axios'
import Search from './Search'
export default {
  components: {
    'search': Search
  },
  data(){
    return {
      shops: [],
      items: [],
      event: {
        workerId: 1,
        shopId: 1,
        name: 'Начертание',
        desc: 'Описание события',
        date: '21 июня 2019. 17:01'
      }
    }
  },
  mounted() {
    axios
      .get('/api/workers')
      .then(response => {
        this.items = response.data;
      });
    axios
      .get('/api/shops')
      .then(response => {
        this.shops = response.data;
        this.isLoaded = true;
      });
  },
  methods: {
    addEvent () {
      axios
      .post('/api/add-event', this.event)
      .then(response => {
        this.$router.push('/events');
      })
    },
    onChange: function(val) {
   		this.$emit('input', val);
    }
  }
}
</script>
