<template>
  <div class="container">
    <div class="text-center">
      <div class="spinner-border text-primary" role="status" v-if="!isLoaded">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="" v-if="isLoaded">
      <h3 class="mt-5 mb-4">Добавить позицию</h3>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Название товара</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model.trim="product.name" type="text" placeholder="Название товара">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Название бренда</label>
        </div>
        <div class="col-md-8">
          <select class="custom-select" v-model.number="product.brandId" v-on:input="onChange($event.target.value)">
            <option v-for="brand in brands" :key="brand.id" :value="brand.id">
              {{brand.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Тип материала</label>
        </div>
        <div class="col-md-8">
          <select class="custom-select" v-model.number="product.typeId" v-on:input="onChange($event.target.value)">
            <option v-for="type in types" :key="type.id" :value="type.id">
              {{type.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Цена товара</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="product.price" type="number" placeholder="Цена">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Количество товара</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="number" v-model="product.count" placeholder="Количество товара">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="good-address">Магазин</label>
        </div>
        <div class="col-md-8">
          <select class="custom-select" v-model.number="product.shopId" v-on:input="onChange($event.target.value)">
            <option v-for="shop in shops" :key="shop.id" :value="shop.id">
              {{shop.name}} ({{shop.address}})
            </option>
          </select>
        </div>
      </div>
      <div class="mt-4">
        <router-link to="/products" class="btn btn-secondary">Назад</router-link>
        <button class="btn btn-primary" @click="addProduct" type="button">Добавить</button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Search from './Search'
export default {
  components: {
    'search': Search
  },
  data(){
    return {
      isLoaded: false,
      shops: [],
      types: [],
      brands: [],
      cities: [],
      product: {
        name: 'Карандаш',
        brandId: 2,
        typeId: 1,
        price: 25,
        count: 1000,
        shopId: 1
      }
    }
  },
  mounted() {
    axios
      .get('/api/shops')
      .then(response => {
        // console.log(response.data);
        this.shops = response.data;
      });
    axios
      .get('/api/types')
      .then(response => {
        this.types = response.data;
      });
    axios
      .get('/api/brands')
      .then(response => {
        this.brands = response.data;
      });
    axios
      .get('/api/cities')
      .then(response => {
        this.cities = response.data;
        this.isLoaded = true;
      });

  },
  methods: {
    addProduct () {
      axios
      .post('/api/add-product', this.product)
      .then(response => {
        this.$router.push('/products');
      })
    },
    onChange: function(val) {
   		this.$emit('input', val);
    }
  }
}
</script>
