<template>
  <div class="container">
    <h3 class="mt-5 mb-4">Добавить магазин</h3>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Название магазина</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="shop.name" type="text" placeholder="Абрикос">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Город</label>
        </div>
        <div class="col-md-8">
          <select class="custom-select" v-model.number="shop.cityId" v-on:input="onChange($event.target.value)">
            <option v-for="city in cities" :key="city.id" :value="city.id">
              {{city.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="good-type">Адрес магазина</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="shop.address" type="text" placeholder="ул. Вершинина 74">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="good-price">Телефон магазина</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="shop.phone" type="number" placeholder="999999">
        </div>
      </div>
      <div class="mt-4">
        <router-link to="/products" class="btn btn-secondary">Назад</router-link>
        <button class="btn btn-primary" @click="addProduct" type="button">Добавить</button>
      </div>
  </div>
</template>
<script>
import axios from 'axios'
import Search from './Search'
export default {
  components: {
    'search': Search
  },
  data(){
    return {
      cities: [],
      shop: {
        cityId: 1,
        name: 'Карандаш',
        address: 'ул. Вершинина 74',
        phone: '999999'
      }
    }
  },
  mounted() {
    axios
      .get('/api/cities')
      .then(response => {
        this.cities = response.data;
      })
  },
  methods: {
    addProduct () {
      axios
        .post('/api/add-shops', this.shop)
        .then(response => {
          console.log(response)

          this.$router.push('/shops');
        })
    },
    onChange: function(val) {
   		this.$emit('input', val);
    }
  }
}
</script>
