<template>
  <div class="container">
    <h3 class="mt-5 mb-4">Добавить бренд</h3>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Название материала</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" v-model="type.name" type="text" placeholder="Название материала">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Описание материала</label>
      </div>
      <div class="col-md-8">
        <input class="form-control" v-model="type.desc" type="text" placeholder="Описание материала">
      </div>
    </div>
    <div class="mt-4">
      <router-link to="/other" class="btn btn-secondary">Назад</router-link>
      <button class="btn btn-primary" @click="addType" type="button">Добавить</button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return {
      type: {
        name: 'Материал',
        desc: 'Описание материала'
      },
    }
  },
  methods: {
    addType() {
      axios
        .post('/api/add-type', this.type)
        .then(response => {
          this.$router.push('/other');
        });
    }
  }
}
</script>
