<template>
  <div class="container">
    <h3 class="mt-5 mb-4">Добавить работника</h3>
      <div class="row form-group">
        <div class="col-md-4">
          <label>Фамилия работника</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="worker.secondname" type="text" placeholder="Перемитин">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="good-type">Имя работника</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="worker.firstname" type="text" placeholder="Александр">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="good-price">Отчество работника</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="worker.midname" type="text" placeholder="Дмитриевич">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="good-price">Телефон работника</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" v-model="worker.phone" type="number" placeholder="999999">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label for="good-address">Место работы</label>
        </div>
        <div class="col-md-8">
          <select class="custom-select" v-model.number="worker.shopId" v-on:input="onChange($event.target.value)">
            <option v-for="shop in shops" :key="shop.id" :value="shop.id">
              {{shop.name}} ({{shop.address}})
            </option>
          </select>
        </div>
      </div>
      <div class="mt-4">
        <router-link to="/products" class="btn btn-secondary">Назад</router-link>
        <button class="btn btn-primary" @click="addWorker" type="button">Добавить</button>
      </div>
  </div>
</template>
<script>
import axios from 'axios'
import Search from './Search'
export default {
  components: {
    'search': Search
  },
  data(){
    return {
      shops: [],
      worker: {
        firstname: 'Александр',
        secondname: 'Перемитин',
        midname: 'Дмитриевич',
        phone: 99999,
        shopId: 1
      }
    }
  },
  mounted(){
    axios
      .get('/api/shops')
      .then(response => {
        this.shops = response.data;
      })
  },
  methods: {
    addWorker() {
      axios
      .post('/api/add-worker', this.worker)
      .then(response => {
        this.$router.push('/workers');
      })
    },
    onChange: function(val) {
   		this.$emit('input', val);
    }
  }
}
</script>
