<template>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-8 mt-5">
				<h3 class="mb-4 text-center">Авторизация</h3>
				<div class="form-group">
					<input class="form-control" v-model.trim="login" type="text" placeholder="Login">
				</div>
				<div class="form-group">
					<input class="form-control" v-model.trim="password" type="password" placeholder="Password">
				</div>
				<button class="btn btn-primary btn-block" type="button" @click="authSubmit">Войти</button>
			</div>
		</div>
	</div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return {
      login: '',
      password: '',
    }
  },
  methods: {
    authSubmit() {
      axios
      .post('/api/auth', {
        "user": this.login,
        "password": this.password
      })
      .then(response => {
        location.href = '/products';
      })
    }
  }
}
</script>
<style lang="sass" scoped>
.container
  .row
    margin-top: 50vh
    transform: translateY(-65%)
</style>
