<template>
  <div class="container">
    <h3 class="mt-5">Города, где есть ваши магазины</h3>
    <router-link to="/addcity" class="btn btn-primary mt-2" v-if="isLoaded">Добавить город</router-link>
    <div class="text-center">
      <div class="spinner-border text-primary" role="status" v-if="!isLoaded">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 mb-4 col-md-4 col-sm-6" v-for="(city, index) in cities" :key="city.id">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Город: {{city.name}}
            </h5>
          </div>
          <div class="card-body">
            <span href="#" class="btn btn-block btn-secondary" v-if="isLoaded" @click="removeCity(city.id, index)">
              Удалить город
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Search from './Search'
export default {
  components: {
    'search': Search
  },
  data(){
    return {
      isLoaded: false,
      cities: []
    }
  },
  mounted() {
    this.getCities();
  },
  methods: {
    removeCity (id, index) {
      axios
        .post('/api/remove-city', id)
        .then(response => {
          this.$delete(this.cities, index);
          this.getCities();
        })
    },
    getCities(){
      this.isLoaded=false;
      axios
        .get('/api/cities')
        .then(response => {
          this.isLoaded = true;
          this.cities = response.data;
        })
    }
  }
}
</script>
