<template>
  <div class="container">
    <h3 class="mt-5">События</h3>
    <router-link to="/addevent" class="btn btn-primary mt-2" v-if="isLoaded">Добавить событие</router-link>
    <div class="text-center">
      <div class="spinner-border text-primary" role="status" v-if="!isLoaded">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 mb-4 col-md-4 col-sm-6" v-for="(item, index) in items" :key="item.id">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Мастер-класс: {{item.name}}
            </h5>
            <p class="card-text text-secondary">
              Мастер: <br> {{item.workerSecondName}} {{item.workerFirstName}} {{item.workerMidName}}<br>
              Адрес: {{item.shop}}<br>
              Время проведения: {{item.date}}<br>
            </p>
          </div>
          <div class="card-body">
            <span href="#" class="btn btn-block btn-secondary" v-if="isLoaded" @click="removePosition(index)">
              Удалить событие
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Search from './Search'
export default {
  components: {
    'search': Search
  },
  data(){
    return {
      isLoaded: false,
      items: []
    }
  },
  mounted() {
    axios
      .get('/api/events')
      .then(response => {
        this.isLoaded = true;
        this.items = response.data;
      })
  },
  methods: {
    removePosition (index) {
      this.isLoaded=false;
      axios
        .post('/api/remove-event', this.items[index])
        .then(response => {
          this.$delete(this.items,index);
          this.isLoaded=true;
        })
    }
  }
}
</script>
