<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand" href="">MyApp</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link class="nav-link" to="/products">Товары</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/shops">Магазины</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/workers">Сотрудники</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/events">События</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/cities">Города</router-link>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
           <a href="https://github.com/qwpSanya" target="_BLANK" class="nav-link">Выполнил: Перемитин Александр</a>
        </li>
        <li class="nav-item">
          <span class="nav-link" @click="logout">Выйти</span>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
import axios from 'axios'
export default {
  methods:{
    logout(){
      axios
        .get('/api/logout')
        .then(response => {
          location.href = location.href;
        })
    }
  }
}
</script>
