<template>
  <div class="container">
    <h3 class="mt-5">Города, где есть ваши магазины</h3>
    <router-link to="/addcity" class="btn btn-primary mt-2" v-if="isLoaded">Добавить город</router-link>
    <div class="text-center">
      <div class="spinner-border text-primary" role="status" v-if="!isLoaded">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 mb-4 col-md-4 col-sm-6" v-for="(city, index) in cities" :key="city.id">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Город: {{city.name}}
            </h5>
          </div>
          <div class="card-body">
            <span href="#" class="btn btn-block btn-secondary" v-if="isLoaded" @click="removeCity(city.id, index)">
              Удалить город
            </span>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-5">Доступные бренды</h3>
    <router-link to="/addbrand" class="btn btn-primary mt-2" v-if="isLoaded">Добавить бренд</router-link>
    <div class="text-center">
      <div class="spinner-border text-primary" role="status" v-if="!isLoaded">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 mb-4 col-md-4 col-sm-6" v-for="(brand, index) in brands" :key="brand.id">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Бренд: {{brand.name}}
            </h5>
            <p class="card-text text-secondary">
              Описание: {{brand.description}}<br>
            </p>
          </div>
          <div class="card-body">
            <span href="#" class="btn btn-block btn-secondary" v-if="isLoaded" @click="removeBrand(brand.id, index)">
              Удалить бренд
            </span>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-5">Доступные материалы</h3>
    <router-link to="/addtype" class="btn btn-primary mt-2" v-if="isLoaded">Добавить материал</router-link>
    <div class="text-center">
      <div class="spinner-border text-primary" role="status" v-if="!isLoaded">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 mb-4 col-md-4 col-sm-6" v-for="(type, index) in types" :key="type.id">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Материал: {{type.name}}
            </h5>
            <p class="card-text text-secondary">
              Описание: {{type.description}}<br>
            </p>
          </div>
          <div class="card-body">
            <span href="#" class="btn btn-block btn-secondary" v-if="isLoaded" @click="removeType(type.id, index)">
              Удалить материал
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Search from './Search'
export default {
  components: {
    'search': Search
  },
  data(){
    return {
      isLoaded: false,
      cities: [],
      types: [],
      brands: [],
    }
  },
  mounted() {
    this.getCities();
    this.getTypes();
    this.getBrands()
  },
  methods: {
    getCities(){
      this.isLoaded=false;
      axios
        .get('/api/cities')
        .then(response => {
          this.isLoaded = true;
          this.cities = response.data;
        })
    },
    getTypes(){
      this.isLoaded=false;
      axios
        .get('/api/types')
        .then(response => {
          this.isLoaded = true;
          this.types = response.data;
        })
    },
    getBrands(){
      this.isLoaded=false;
      axios
        .get('/api/brands')
        .then(response => {
          this.isLoaded = true;
          this.brands = response.data;
        })
    },
    removeCity (id, index) {
      axios
        .post('/api/remove-city', id)
        .then(response => {
          this.$delete(this.cities, index);
          this.getCities();
        })
    },
    removeType (id, index) {
      axios
        .post('/api/remove-type', id)
        .then(response => {
          this.$delete(this.types, index);
          this.getTypes();
        })
    },
    removeBrand (id, index) {
      axios
        .post('/api/remove-brand', id)
        .then(response => {
          this.$delete(this.brands, index);
          this.getBrands();
        })
    },
  }
}
</script>
