<template>
  <div class="container">
    <h3 class="mt-5">Товары</h3>
    <router-link to="/addproduct" class="btn btn-primary mt-2" v-if="isLoaded">Добавить товар</router-link>
    <div class="text-center">
      <div class="spinner-border text-primary" role="status" v-if="!isLoaded">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- <div class="row">
      <search class="mt-4 mb-4 col-md-4 col-sm6"></search>
    </div> -->
    <div class="row">
      <div class="mt-4 mb-4 col-md-4 col-sm-6" v-for="(item, index) in items" :key="item.id">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{item.name}} {{item.brand}}</h5>
            <p class="card-text text-secondary">
              Материал: {{item.type}}<br>
              В наличии: {{item.count}}<br>
              Цена: {{item.price}}руб.
            </p>
          </div>
          <div class="card-body">
            <span href="#" class="btn btn-block btn-secondary" v-if="isLoaded" @click="removePosition(index)">
              Удалить товар
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Search from './Search'
export default {
  components: {
    'search': Search
  },
  data(){
    return {
      isLoaded: false,
      items: []
    }
  },
  mounted() {
    axios
      .get('/api/products')
      .then(response => {
        this.isLoaded = true;
        console.log(response);
        this.items = response.data;
      })
  },
  methods: {
    removePosition (index) {
      this.isLoaded=false;
      axios
        .post('/api/remove-product', this.items[index])
        .then(response => {
          this.$delete(this.items,index);
          this.isLoaded=true;
        })
    }
  }
}
</script>
