<template>
  <div class="row form-group" id="search">
    <input class="form-control" v-model="inputdata" type="text" placeholder="Поиск...">
    <span class="search__cleaner" @click="cleanInput">x</span>
  </div>
</template>
<script>
export default {
  data(){
    return{
      inputdata: null,
    }
  },
  methods:{
    cleanInput(){
      document.getElementById('search').reset();
    }
  },
}
</script>
<style lang="sass" scope>
  .search__cleaner
    margin: 20px auto
    display: inline-block
    font-weight: 700
    padding: 2px 10px
    margin-left: -34px
    border-left: 1px solid #ced4da
    transition: 0.3s ease-in
    font-size: 20px
    &:hover
      cursor: pointer
      border-radius: 20%
</style>
